<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
        <div class="summaryheading">
            <div class="d-flex justify-content-between">
            <h4>Store Balance Sheet</h4>
            <div class="reportbutton"><button type="button" (click)="onBalancesheet()">Create Balance Sheet</button></div>
        </div>
            <form class="row align-items-end px-0 col-12 justify-content-between" [formGroup]="form">
                <div class="col-xl-4 col-lg-6">
                    <label for="FormControlInput1" class="form-label">Store Name<span class="required">*</span></label>
                    <ng-select formControlName="storeId" id="storeId" #SelectSizeDefault [items]="storeList"
                        [searchable]="true" bindLabel="storeName" bindValue="storeId">
                    </ng-select>
                </div>
                <div class="dateformet">
                    <label class="date form-label">From Date :</label><br>
                    <input type="date" id="entrydate" formControlName="fromDate" [(ngModel)]="fromDate">
                </div>
                <div class="dateformet">
                    <label class="date form-label">To Date :</label><br>
                    <input type="date" id="toDate" formControlName="toDate" [(ngModel)]="toDate">
                </div>
                <div class="reportbutton">
                    <button type="button" (click)="onGetReport()">Get Report</button>
                </div>
            </form>



            <div *ngIf="balancesheetData !=null" >
                <div class="section mt-1 d-flex justify-content-between">
                                                    <div class="storename">
                                                        <span class="heading">Store Name:</span>
                                                        <span>{{balancesheetData[0].storeName}}</span>
                                                    </div>
                                                    <div class="month">
                                                        <span class="heading">Period:</span>
                                                        <span>From Date : {{this.fromDate}} To Date: {{this.toDate}} </span>
                                                    </div>
                                                </div>
                
                
                    <div class="d-flex justify-content-between">
                    <table>
                        <tr><td style="width: 40%;">Liability</td><td style="width: 30%;">Amount</td><td style="width: 30%;">Amount</td>
                           </tr>
                           <tr  *ngFor="let item of balancesheetData[0].bsitemDtos.bsitemLiabilitiesDtos"><td colspan="3">
                            <table >
                            
                                <tr><td colspan="3">{{item.termName}}</td></tr>
                                <tr  *ngFor="let row of item.bsitemIDtos">
                                <td style="width: 40%;">{{row.name}}</td>
                                <td style="width: 30%;">{{row.amount}}</td>
                                <td style="width: 30%;"></td>
                                </tr>
                                <tr><td colspan="2"></td><td>{{item.amount}}</td></tr>
                            </table>
                
                            </td></tr>
                            <tr><td colspan="2">LIABILITIES GRAND TOTAL</td><td>{{balancesheetData[0].liabilityTotal}}</td></tr>
                    </table>
                    <table>
                        <tr><td style="width: 40%;">Assets</td><td style="width: 30%;">Amount</td><td style="width: 30%;">Amount</td>
                           </tr>
                           <tr  *ngFor="let item of balancesheetData[0].bsitemDtos.bsitemAssetsDtos"><td colspan="3">
                            <table >
                                <tr><td colspan="3">{{item.termName}}</td></tr><tr  *ngFor="let row of item.bsitemIDtos">
                                <td style="width: 40%;">{{row.name}}</td>
                                <td style="width: 30%;">{{row.amount}}</td>
                                <td style="width: 30%;"></td>
                            </tr>
                            <tr><td colspan="2"></td><td>{{item.amount}}</td></tr>
                        </table>
                            
                            </td></tr>
                            <tr><td colspan="2">ASSETS GRAND TOTAL</td><td>{{balancesheetData[0].assetTotal}}</td></tr>
                
                    </table>
                   
                </div>
                <div>Net Total : {{balancesheetData[0].netTotal}}</div>
                          <!-- <div   *ngFor="let item of balancesheetData[0].bsitemDtos">
                                    <div>{{item.termName}}</div>
                                        <div *ngFor="let row of item.bsitemIDtos">
                                            <div>{{row.name}}</div>
                                            <div>{{row.amount}}</div>
                                        </div>
                                </div> -->
                                
                                </div>
        </div>
    </div>
</div>
