

<div  class="mt-4">
    <div class="dailyheading mb-3">
        <h4>Gas Inventory</h4>
    </div>
    <div class="gasinventory-container gasinventory">


      
            <div class="dailyform">
                <div class="columncountsection">
                
                        <div class="category ">
                           
                            <div class="form">
                             
                                <div class="form-group row mx-1">
                                    <label for="inputPassword"
                                        class="col-xl-3 col-md-4 px-2 col-form-label"><b
                                            style="font-weight:600">Gas Sale</b></label>
                                    <div
                                        class="inputfield col-xl-9 col-md-8 d-flex align-items-center">
                                        <span>$</span>
                                        <input type="text" class="form-control"
                                          [value]="gasamount"
                                            (keypress)="validateNumber($event)"
                                            (input)="validateDecimalPlaces($event)"
                                            (blur)="onTextboxLeave($event,'1')"
                                            id="grocery" placeholder="0.00">
                                    </div>
                                </div>
                               
                            </div>
                        </div>  <div class="totalamount d-flex justify-content-end">
                            <span>Total Gas Sale Amount :
                                <b>${{this.gasamount}}</b></span>
                        </div>
                </div>
              
            </div>
   



        <div class="gasinventory">
            <div class="data-container pt-3">
                <div class="dailytabledata">
                    <table>
                        <thead>
                            <tr class="">
                                <th class="px-3 pb-2"></th>
                                <th class="px-3 pb-2">Open Stock</th>
                                <th class="px-3 pb-2">Purchases</th>
                                <th class="px-3 pb-2">Purchases Rate</th>
                                
                                <th class="px-3 pb-2">Sales Cash</th>
                                <th class="px-3 pb-2">Sales Cash Rate</th>
                                
                                <th class="px-3 pb-2">Sales Card</th>
                                <th class="px-3 pb-2">Sales Card Rate</th>
                                <!-- <th class="px-3 pb-2">Total Sales</th>
                                <th class="px-3 pb-2">Avg Sales Rate</th>
                         -->
                                <th class="px-3 pb-2">Closing Stock</th>
                                <th class="px-3 pb-2">Physical Stock</th>
                                <th class="px-3 pb-2">Over Short</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of gesdetail">
                                <td class="pr-4">{{ item.gesTypeName }}</td>
                                <td>
                                    <div class="forminput ">
                                        <div class="inputfield px-2 mx-3 d-flex align-items-center" style="background-color: #f0f0f0">
                                            <input type="text"   [(ngModel)]="item.openStock"    (keypress)="validateNumber($event)"
                                            (input)="validateDecimalPlaces($event)" (input)="updateTotals(item)"
                                                  class="form-control">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="forminput">
                                        <div class="inputfield px-2 mx-3 d-flex align-items-center">
                                            <input type="text" [(ngModel)]="item.purchases"  class="form-control"     (keypress)="validateNumber($event)"
                                            (input)="validateDecimalPlaces($event)" (input)="updateTotals(item)">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="forminput">
                                        <div class="inputfield px-2 mx-3 d-flex align-items-center">
                                            <input type="text" [(ngModel)]="item.purchasesRate"    (keypress)="validateNumber($event)"
                                            (input)="validateDecimalPlaces($event)"   class="form-control">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="forminput">
                                        <div class="inputfield px-2 mx-3 d-flex align-items-center">
                                            <input type="text" [(ngModel)]="item.saleCash"    (keypress)="validateNumber($event)"
                                            (input)="validateDecimalPlaces($event)"  (input)="updateTotals(item)" class="form-control">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="forminput">
                                        <div class="inputfield px-2 mx-3 d-flex align-items-center">
                                            <input type="text" [(ngModel)]="item.saleCashRate"  class="form-control"     (keypress)="validateNumber($event)"
                                            (input)="validateDecimalPlaces($event)" >
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="forminput">
                                        <div class="inputfield px-2 mx-3 d-flex align-items-center">
                                            <input type="text" [(ngModel)]="item.saleCard"    (keypress)="validateNumber($event)"
                                            (input)="validateDecimalPlaces($event)"  (input)="updateTotals(item)" class="form-control">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="forminput">
                                        <div class="inputfield px-2 mx-3 d-flex align-items-center">
                                            <input type="text" [(ngModel)]="item.saleCardRate"  class="form-control"     (keypress)="validateNumber($event)"
                                            (input)="validateDecimalPlaces($event)" >
                                        </div>
                                    </div>
                                </td>
                              
                                <!-- <td>
                                    <div class="forminput">
                                        <div class="inputfield px-2 mx-3 d-flex align-items-center">
                                            <input type="text" [(ngModel)]="item.sales"  class="form-control"     (keypress)="validateNumber($event)"
                                            (input)="validateDecimalPlaces($event)" (input)="updateTotals(item)">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="forminput">
                                        <div class="inputfield px-2 mx-3 d-flex align-items-center">
                                            <input type="text" [(ngModel)]="item.salesRate"    (keypress)="validateNumber($event)"
                                            (input)="validateDecimalPlaces($event)"  class="form-control">
                                        </div>
                                    </div>
                                </td> -->
                                <td>
                                    <div class="forminput">
                                        <div class="inputfield px-2 mx-3 d-flex align-items-center" style="background-color: #f0f0f0">
                                            <input type="text" readonly [(ngModel)]="item.closingStock"    (keypress)="validateNumber($event)"
                                            (input)="validateDecimalPlaces($event)"  class="form-control"  (input)="updateTotals(item)">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="forminput">
                                        <div class="inputfield px-2 mx-3 d-flex align-items-center">
                                            <input type="text" [(ngModel)]="item.physicalStock"    (keypress)="validateNumber($event)"
                                            (input)="validateDecimalPlaces($event)"  class="form-control"  (input)="updateTotals(item)">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="forminput">
                                        <div class="inputfield px-2 mx-3 d-flex align-items-center" style="background-color: #f0f0f0">
                                            <input type="text" readonly [(ngModel)]="item.overShort"     (keypress)="validateNumber($event)"
                                            (input)="validateDecimalPlaces($event)" class="form-control">
                                        </div>
                                    </div>
                                </td>
                              
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="submit-btn col-12 pl-0">
                    <div class="allbtn d-flex">
                        <div class="resetbtn">
                            <button type="button" (click)="GetGesdetailByDateStoreIdonRest()">
                                Reset
                            </button>
                        </div>
                        <div class="savebtn">
                            <button type="submit" (click)="onGesSubmit()">
                                <ng-container>Save</ng-container>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- <app-gesinvoice></app-gesinvoice> -->