<!-- cards -->
<div class="dashboard">
    <div class="d-lg-flex justify-content-between mb-4 align-items-center">
        <div class="dashboardheading">
            <h4 class="text-uppercase mb-0">Dashboard</h4>
        </div>
        <div class="filterandbtn d-sm-flex justify-content-lg-end mt-lg-auto mt-2">
            <div class="d-flex align-items-center">
                <div class="filter">
                    <img src="../../../../assets/images/filter.png" />
                    <span>Filter by:</span>
                </div>
                <div class="ml-2">
                    <div class="dropdown mr-1" style="float:left;">
                        <button class="dropbtn profile d-flex">
                            <div class="profile-name">
                                <span>All Stores</span>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" height="24"
                                width="24" class="dropdownicon">
                                <path
                                    d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z">
                                </path>
                            </svg>
                        </button>
                        <div class="dropdown-content" style="left:0;">
                            <a href="#">Store 1</a>
                            <a href="#">Store 2</a>
                            <a href="#">Store 3</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="addbtn">
                <button>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                            stroke="#080433" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M8 12H16" stroke="#080433" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M12 16V8" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>

                    Add Daily Report</button>
            </div>
        </div>
    </div>
    <div class="datacard">
        <div class="pb-3">
            <div class="card card-common">
                <div class="card-body">
                    <div class="cardsection">
                        <div class="d-flex justify-content-between">
                            <h5>Total Sales</h5>
                            <h6>8 Dec 2023</h6>
                        </div>
                        <div class="d-flex justify-content-between align-items-end">
                            <h3 class="pt-3 mb-0">$3,799</h3>
                            <div class="persent pt-3">
                                <p class="mb-0 text-end">25%</p>
                                <span>Compared by: <b>Dec 7</b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pb-3">
            <div class="card card-common">
                <div class="card-body">
                    <div class="cardsection">
                        <div class="d-flex justify-content-between">
                            <h5>Total Expanses</h5>
                            <h6>8 Dec 2023</h6>
                        </div>
                        <div class="d-flex justify-content-between align-items-end">
                            <h3 class="pt-3 mb-0">$3,799</h3>
                            <div class="persent pt-3">
                                <p class="mb-0 text-end">25%</p>
                                <span>Compared by: <b>Dec 7</b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pb-3">
            <div class="card card-common">
                <div class="card-body">
                    <div class="cardsection">
                        <div class="d-flex justify-content-between">
                            <h5>Total Cash In-hand</h5>
                            <h6>8 Dec 2023</h6>
                        </div>
                        <div class="d-flex justify-content-between align-items-end">
                            <h3 class="pt-3 mb-0">$3,799</h3>
                            <div class="persent pt-3">
                                <p class="mb-0 text-end">25%</p>
                                <span>Compared by:<b>Dec 7</b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pb-3">
            <div class="card card-common">
                <div class="card-body">
                    <div class="cardsection">
                        <div class="d-flex justify-content-between">
                            <h5>Total Sales</h5>
                            <h6>8 Dec 2023</h6>
                        </div>
                        <div class="d-flex justify-content-between align-items-end">
                            <h3 class="pt-3 mb-0">$3,799</h3>
                            <div class="persent pt-3">
                                <p class="mb-0 text-end">25%</p>
                                <span>Compared by:<b>Dec 7</b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>