<!-- sidebar -->
<div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top px-0">
  <a href="#" class="wflogo row mx-auto text-center py-3 mb-4 bottom-border justify-content-center align-items-center">
    <img class="" src="../../../../assets/images/wflogo.png" />
  </a>
  <div class="sidebar-menu mt-4 mx-3">
    <!-- <h6>MENU</h6> -->

    <!-- <li class="nav-item"><a href="#" class="nav-link p-3 mb-2 current">
      <img class="icons" src="../../../../assets/images/chart.png" />
      Dashboard</a>
    </li> -->

    <!-- <li class="nav-item">
        <a href="#" class="nav-link p-3 mb-2 current">
          <img class="icons" src="../../../../assets/images/chart.png" />
          Dashboard</a>
      </li> -->

    <!-- <ul class="nav-links" id="nav-links">
        <li class="nav-item" *ngFor="let item of menu; let i = index" #itemEl routerLinkActive="active">
          <div *ngIf="item.title.length > 0" class="dropdown-title" (click)="showSubmenu(itemEl,item)">
            <a class="nav-link p-3 mb-2 current">
              <i [class]="item.icon"></i>
              <span class="title">{{item.title}}</span>
            </a>
            <i class='bx bxs-chevron-down arrow'></i>
          </div>
          <ul class="sub-menu submenu" [class.blank]="item.children.length == 0">
            <li *ngFor="let row of item.children" routerLinkActive="active">
              <a [routerLink]="[row.url]">{{row.title}}</a>
            </li>
          </ul>
        </li>
      </ul> -->

    <!-- <ng-container *ngFor="let item of menu; let i = index">
    <li class="nav-item">
      <ng-container >
        <a [routerLink]="[item.url]" class="nav-link p-3 mb-2 current">{{ item.title }}
        </a>
        <ul >
          <ng-container *ngFor="let row of item.children; let i = index">
            <li class="submenu">
              <a [routerLink]="[row.url]">{{ row.title }}</a>
            </li>
          </ng-container>
        </ul>
      </ng-container>
    </li>
  </ng-container> -->

    <ul class="navbar-nav flex-column nav-links" id="nav-links">
      <li class="nav-item" *ngFor="let item of menu; let i = index" #itemEl routerLinkActive="active">
        <div *ngIf="item.title.length > 0" class="dropdown-title" (click)="showSubmenu(itemEl, item)">
          <a [routerLink]="item.type !== 'collapsible' ? [item.url] : null"
            class="nav-link p-3 mb-3 current d-flex justify-content-between align-items-center"
            (click)="setActiveIndex(i)" [ngClass]="{'active': i === activeIndex}">
            <p class="mb-0">
              <i [class]="item.icon"></i>
              {{ item.title }}
            </p>
            <!-- <i *ngIf="item.type == 'collapsible'" class="fas fa-caret-down arrow"></i> -->
            <svg *ngIf="item.type == 'collapsible'" width="10" height="8" viewBox="0 0 8 5" fill="none"
              xmlns="http://www.w3.org/2000/svg" class="rotate-icon" [ngClass]="{'showMenu': 'rotate-icon'}">
              <path
                d="M4.00012 0.74955L7.18213 3.9315L6.12146 4.99219L4.00012 2.87085L1.87882 4.99219L0.81817 3.9315L4.00012 0.74955Z"
                fill="#747684" />
            </svg>   
          </a>
        </div>
      
        <ul class="sub-menu" [class.active]="i === activeIndex" [class.blank]="item.children.length == 0">
          <li class="submenu" *ngFor="let row of item.children" routerLinkActive="active">
            <a [routerLink]="[row.url]">{{ row.title }}</a>
          </li>
        </ul>
      </li>





      <!-- <div class="sidebar">
  <ul class="menu">
    <li class="menu-item" *ngFor="let item of menu; let i = index" [ngClass]="{ 'has-submenu': item.children }">
      <a [routerLink]="item.route">{{ item.title }}</a>
      <ul class="submenu" *ngIf="item.children">
        <li class="submenu-item" *ngFor="let row of item.children; let i = index">
          <a [routerLink]="row.route">{{ row.title }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div> -->





      <!-- <ng-container *ngFor="let item of menu; let i = index">
    <li class="nav-item">
      <ng-container *ngIf="item.type != 'collapsible'; else notCollapsible">
        <a [routerLink]="[item.url]" 
           [attr.data-toggle]="item.type === 'collapsible' ? 'collapse' : null"
           [attr.aria-expanded]="item.type === 'collapsible' ? 'false' : null"
           class="nav-link p-3 mb-2 sidebar-link dropdown-toggle"
           [ngClass]="{'nav-link p-3 mb-2 sidebar-link dropdown-toggle': item.type === 'collapsible',
                       'nav-link p-3 mb-2 current': item.type !== 'collapsible'}">
          <img class="icons" src="../../../../assets/images/chart.png" />
          {{ item.title }}
        </a>
      </ng-container>
      <ng-template #notCollapsible>
        <a href="#homeSubmenu"
           class="nav-link p-3 mb-2 current"
           [ngClass]="{'nav-link p-3 mb-2 current': item.type !== 'collapsible'}">
          <img class="icons" src="../../../../assets/images/chart.png" />
          {{ item.title }}
        </a>
        <ul class="collapse list-unstyled" id="homeSubmenu" *ngIf="item.type === 'collapsible'">
          <ng-container *ngFor="let row of item.children; let i = index">
            <li class="submenu">
              <a [routerLink]="[row.url]">{{ row.title }}</a>
            </li>
          </ng-container>
        </ul>
      </ng-template>
     
    </li>
  </ng-container> -->


      <!-- <ng-container *ngFor="let item of menu; let i = index">
      <li class="nav-item">
        <a [routerLink]="[item.url]" href="#homeSubmenu"
           [attr.data-toggle]="item.type === 'collapsible' ? 'collapse' : null"
           [attr.aria-expanded]="item.type === 'collapsible' ? 'false' : null"
           [ngClass]="{'nav-link p-3 mb-2 sidebar-link dropdown-toggle': item.type === 'collapsible',
           'nav-link p-3 mb-2 current': item.type !== 'collapsible'}">

          <img class="icons" src="../../../../assets/images/chart.png" />
          {{ item.title }}
        </a>
        <ul class="collapse list-unstyled" id="homeSubmenu" *ngIf="item.type === 'collapsible'">
          <ng-container *ngFor="let row of item.children; let i = index">
            <li class="submenu">
              <a [routerLink]="[row.url]">{{ row.title }}</a>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-container> -->




      <!-- <ng-container *ngFor="let item of menu; let i = index">
      <li class="nav-item"><a  [routerLink]="[item.url]" *ngIf="item.type=='collapsible'"  data-toggle="collapse" aria-expanded="false"
        class="nav-link p-3 mb-2 sidebar-link dropdown-toggle">
        <img class="icons" src="../../../../assets/images/chart.png" />
        {{item.title}}</a>
        <ul class="collapse list-unstyled" id="[item.url]"> <ng-container *ngFor="let row of menu.children; let i = index">
          <li class="submenu">
           
            <a [routerLink]="[item.url]"> {{row.title}}</a>
          </li>
        </ng-container>
        </ul>
    </li>
    </ng-container> -->
      <!-- <li class="nav-item"><a href="#" class="nav-link p-3 mb-2 current">
        <img class="icons" src="../../../../assets/images/chart.png" />
        Dashboard</a>
    </li> -->
      <!-- <li class="nav-item">
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
        class="nav-link p-3 mb-2 sidebar-link dropdown-toggle">
        <img class="icons" src="../../../../assets/images/box.png" />
        My Stores</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li class="submenu">
          <a href="#">Store Summary</a>
        </li>
        <li class="submenu">
          <a href="#">Sales</a>
        </li>
        <li class="submenu">
          <a href="#">Gas</a>
        </li>
      </ul>
    </li>  -->
      <!-- <li class="nav-item">
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
        class="nav-link p-3 mb-2 sidebar-link dropdown-toggle">
        <img class="icons" src="../../../../assets/images/box.png" />
        My Stores</a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li class="submenu">
          <a href="#">Store Summary</a>
        </li>
        <li class="submenu">
          <a href="#">Sales</a>
        </li>
        <li class="submenu">
          <a href="#">Gas</a>
        </li>
      </ul>
    </li>  -->



      <!-- <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                  <a href="#">Home 1</a>
              </li>
              <li>
                  <a href="#">Home 2</a>
              </li>
              <li>
                  <a href="#">Home 3</a>
              </li>
          </ul>
      </li> -->
      <!-- <li class="nav-item" [ngClass]="{'show': isSubMenuOpen}">
            <a class="nav-link" href="#" (click)="toggleSubMenu()">
              <i class="fa fa-user-o"></i> Profile
              <span class="badge badge-primary">3</span>
              <i class="fa fa-caret-down caret float-right mt-1"></i>
            </a>
          
            <div class="collapse" [ngClass]="{'show': isSubMenuOpen}">
              <ul class="nav flex-column is-child">
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/mazipan" target="_blank" rel="noopener">
                    <i class="fa fa-github"></i> Github
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://twitter.com/Maz_Ipan" target="_blank" rel="noopener">
                    <i class="fa fa-twitter"></i> Twitter
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.facebook.com/mazipanneh" target="_blank" rel="noopener">
                    <i class="fa fa-facebook"></i> Facebook
                  </a>
                </li>
              </ul>
            </div>
          </li> -->


      <!-- <li class="nav-item has-child" (click)="toggleChildMenu($event)">
            <a class="nav-link" href="#">
              <i class="fa fa-user-o"></i> Profile
              <span class="badge badge-primary">3</span>
              <i class="fa fa-caret-down caret float-right mt-1"></i>
            </a>
          
            <ul class="nav flex-column is-child" *ngIf="showChildMenu">
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/mazipan" target="blank" rel="noopener">
                  <i class="fa fa-github"></i> Github
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/Maz_Ipan" target="blank" rel="noopener">
                  <i class="fa fa-twitter"></i> Twitter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/mazipanneh" target="blank" rel="noopener">
                  <i class="fa fa-facebook"></i> Facebook
                </a>
              </li>
            </ul>
          </li> -->

      <!-- <li class="nav-item"><a href="#" class="nav-link p-3 mb-2 sidebar-link">
        <img class="icons" src="../../../../assets/images/file-text 1.png" />
        Reports</a>
    </li>
    <h6>OTHER</h6>
    <li class="nav-item">
      <a href="#" class="nav-link p-3 mb-2 sidebar-link">
        <img class="icons" src="../../../../assets/images/setting-2.png" />
        Settings
      </a>
    </li> -->
      <!-- <li class="nav-item">
      <a href="#" class="nav-link p-3 mb-2 sidebar-link">
        <svg class="icon" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.08 10.965L15 9.045L13.08 7.125" stroke="#474A65" stroke-width="1.5" stroke-miterlimit="10"
            stroke-linecap="round" stroke-linejoin="round" />
          <path d="M7.32001 9.04504H14.9475" stroke="#474A65" stroke-width="1.5" stroke-miterlimit="10"
            stroke-linecap="round" stroke-linejoin="round" />
          <path d="M8.82001 15C5.50501 15 2.82001 12.75 2.82001 9C2.82001 5.25 5.50501 3 8.82001 3" stroke="#474A65"
            stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        Logout
      </a>
    </li> -->
    </ul>
  </div>
</div>
<!-- end of sidebar -->