<main class="mystore col-md-10 ml-sm-auto col-lg-10 pt-md-5 mt-md-3">
    <div class="col-12 pr-0 mb-3">
        <div class="">
            <div class="loginform">
                <a href="#" class="back">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.57007 5.93005L3.50007 12.0001L9.57007 18.0701" stroke="#080433" stroke-width="1.5"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M20.5 12H3.67" stroke="#080433" stroke-width="1.5" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Back
                </a>
                <h4 class="mb-0">Form Page Design</h4>
            </div>
            <div class="">
                <form class="row">
                    <div class="form-group col-lg-4 col-md-6 col-12">
                        <label for="exampleFormControlSelect1">Dropdown</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Please select</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-12">
                        <label for="exampleFormControlInput1">Input Amount</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Enter Amount">
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-12">
                        <label for="exampleFormControlInput1">Normal Input</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter here">
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-12">
                        <label for="exampleFormControlInput1">Mobile Number</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter here">
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-12">
                        <label for="exampleFormControlInput1">Date Selection</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-12">
                        <label for="exampleFormControlInput1">Multiple Selection</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="name@example.com">
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-12">
                        <label for="exampleFormControlInput1">Gender</label>
                        <div class="gendermain row justify-content-between">
                            <div class="addbtn">
                                <button>
                                    <input class="gender" type="radio" />
                                    Male
                                </button>
                            </div>
                            <div class="addbtn">
                                <button>
                                    <input class="gender" type="radio" />
                                    Female
                                </button>
                            </div>
                            <div class="addbtn">
                                <button>
                                    <input class="gender" type="radio" />
                                    Other
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-12">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-12">
                        <label for="exampleFormControlTextarea1">Attach Document</label>
                        <div class="file-upload">
                            <label for="fileInput" class="w-100">
                                <input type="file" id="fileInput" />
                                <div class="drop-area" id="dropArea">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9 17V11L7 13" stroke="#080433" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M9 11L11 13" stroke="#080433" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M22 10V15C22 20 20 22 15 22H9C4 22 2 20 2 15V9C2 4 4 2 9 2H14"
                                            stroke="#080433" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M22 10H18C15 10 14 9 14 6V2L22 10Z" stroke="#080433" stroke-width="1.5"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <p class="mb-0">Drag and Drop here</p>
                                    <p class="mb-0">or</p>
                                    <span>Browse File</span>
                                </div>
                            </label>
                        </div>


                        <div class="filebottomtext row justify-content-between pt-2">
                            <span>Accepted File Type: .doc, docx, pdf, word</span>
                            <p>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5 8.33329V6.66663C5 3.90829 5.83333 1.66663 10 1.66663C14.1667 1.66663 15 3.90829 15 6.66663V8.33329"
                                        stroke="#474A65" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M10.0001 15.4167C11.1507 15.4167 12.0834 14.4839 12.0834 13.3333C12.0834 12.1827 11.1507 11.25 10.0001 11.25C8.84949 11.25 7.91675 12.1827 7.91675 13.3333C7.91675 14.4839 8.84949 15.4167 10.0001 15.4167Z"
                                        stroke="#474A65" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M14.1667 18.3334H5.83341C2.50008 18.3334 1.66675 17.5 1.66675 14.1667V12.5C1.66675 9.16671 2.50008 8.33337 5.83341 8.33337H14.1667C17.5001 8.33337 18.3334 9.16671 18.3334 12.5V14.1667C18.3334 17.5 17.5001 18.3334 14.1667 18.3334Z"
                                        stroke="#474A65" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                Secure
                            </p>
                        </div>
                    </div>

                    <div class="submit-btn col-12">
                        <button>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>