<main class="modelmain col-md-10 ml-sm-auto col-lg-10 pt-md-5 mt-md-3 px-4">
    <div class="model-logo mt-md-5 row justify-content-center conteiner">
        <div class="">
            <img src="../../../../assets/images/welcomeflogo.png" alt="wflogo" />
        </div>
        <div class="cross-icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.75735 7.75757L16.2426 16.2428" stroke="#080433" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M7.75736 16.2428L16.2426 7.75757" stroke="#080433" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
    </div>
    <div class="process-line row justify-content-center w-100">
        <div class="process-line1">
            <img src="../../../../assets/images/redline.png" />
        </div>
        <div class="process-line2">
            <img src="../../../../assets/images/grayline.png" />
        </div>
        <div class="process-line3">
            <img src="../../../../assets/images/grayline.png" />
        </div>
    </div>
    <div class="heading row justify-content-between">
        <div class="card-header">
            <h6>Select Expanses</h6>
        </div>
        <div class="stepbtn">
            <button>Step 1/3</button>
        </div>
    </div>
    <div class="cashsection row justify-content-between mx-0">
        <div class="cashdata row">
            <div class="cashicon">
                <img src="../../../../assets/images/cashicon.png" alt="cash" />
            </div>
            <div class="cashcontent">
                <p class="mb-0">Total Cash Inhand</p>
                <span>$100</span>
            </div>
        </div>
        <div class="previousdate">
            <span>Previous Date :</span>
            <span class="dateicon">
                <img src="../../../../assets/images/calendar-2.png" />
                <p class="mb-0">7 Dec 2023</p>
            </span>
        </div>
    </div>

    <div class="productcategory row mx-0 justify-content-between">
        <div class="productdata row">
            <div class="gcategoryicon categoryicon">
                <img src="../../../../assets/images/grocery.png" alt="cash" />
            </div>
            <div class="productcontent">
                <p class="mb-0">Grocery</p>
                <span>$15</span>
            </div>
        </div>
        <div class="productdata row">
            <div class="tcategoryicon categoryicon">
                <img src="../../../../assets/images/tab.png" alt="cash" />
            </div>
            <div class="productcontent">
                <p class="mb-0">Tobacco</p>
                <span>$100</span>
            </div>
        </div>
        <div class="productdata row">
            <div class="wcategoryicon categoryicon">
                <img src="../../../../assets/images/wine.png" alt="cash" />
            </div>
            <div class="productcontent">
                <p class="mb-0">Wine</p>
                <span>$100</span>
            </div>
        </div>
        <div class="productdata row">
            <div class="scategoryicon categoryicon">
                <img src="../../../../assets/images/stamp.png" alt="cash" />
            </div>
            <div class="productcontent">
                <p class="mb-0">Food Stamp</p>
                <span>$100</span>
            </div>
        </div>
        <div class="productdata row">
            <div class="dcategoryicon categoryicon">
                <img src="../../../../assets/images/dep.png" alt="cash" />
            </div>
            <div class="productcontent">
                <p class="mb-0">Dep. Name 5</p>
                <span>$100</span>
            </div>
        </div>
    </div>

    <div class="selectform col-12 row card-body py-0">
        <form class="row align-items-end px-0 col-12 justify-content-between">
            <div class="col-3 px-0 ">
                <label for="exampleFormControlSelect1">Select Department</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Grocery</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-3 px-0">
                <label for="exampleFormControlSelect1">Sub Category</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Grocery Sub Category</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-3 px-0">
                <label for="exampleFormControlSelect1">Amount</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>$</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="addbtn">
                <button>Add to Total</button>
            </div>
        </form>
    </div>

    <div class="resultsec row justify-content-between">
        <div class="results">
            <h4 class="mb-0">Results</h4>
        </div>
        <div class="row col-md-8 justify-content-end">
            <div class="row col-lg-4 align-items-center">
                <div class="filter">
                    <img src="../../../../assets/images/filter.png" />
                    <span>Filter by:</span>
                </div>
                <div class="ml-2">
                    <div class="dropdown mr-1" style="float:left;">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>All Department</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 pr-0 mb-3">
            <div class="card-collapsible">
                <div class="px-2">
                    <div class="search-field d-sm-flex justify-content-between my-4">
                        <div class="pageoption d-flex align-items-center">
                            <select class="pagecounting" id="pagecount">
                                <option value="50">50</option>
                                <option value="200">200</option>
                                <option value='all'>All</option>
                            </select>
                        </div>
                        <div class="d-flex gap-2">
                            <input class="searchfield" type="text" placeholder="Search...">
                        </div>
                    </div>
                    <div class="datatable">
                        <table class="table">
                            <thead class="thead text-white">
                                <tr>
                                    <th scope="col" class="">Department Name</th>
                                    <th scope="col">Sub Category</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="datarow">
                                    <td>
                                        <div class="row storename-add">
                                            <div>
                                                <input type="checkbox" />
                                            </div>
                                            <div class="teblestorename">
                                                <span>Grocery</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>NA</td>
                                    <td>$5.00</td>
                                </tr>
                                <tr class="datarow">
                                    <td>
                                        <div class="row storename-add">
                                            <div>
                                                <input type="checkbox" />
                                            </div>
                                            <div class="teblestorename">
                                                <span>Coffee</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>NA</td>
                                    <td>$5.00</td>
                                </tr>
                                <tr class="datarow">
                                    <td>
                                        <div class="row storename-add">
                                            <div>
                                                <input type="checkbox" />
                                            </div>
                                            <div class="teblestorename">
                                                <span>Grocery</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>NA</td>
                                    <td>$5.00</td>
                                </tr>
                                <tr class="datarow">
                                    <td>
                                        <div class="row storename-add">
                                            <div>
                                                <input type="checkbox" />
                                            </div>
                                            <div class="teblestorename">
                                                <span>Fountain</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>NA</td>
                                    <td>$5.00</td>
                                </tr>
                                <tr class="datarow">
                                    <td>
                                        <div class="row storename-add">
                                            <div>
                                                <input type="checkbox" />
                                            </div>
                                            <div class="teblestorename">
                                                <span>Tobacco</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>NA</td>
                                    <td>$5.00</td>
                                </tr>
                                <tr class="datarow">
                                    <td>
                                        <div class="row storename-add">
                                            <div>
                                                <input type="checkbox" />
                                            </div>
                                            <div class="teblestorename">
                                                <span>Cigarette's</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>NA</td>
                                    <td>$5.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pagination-container my-0 px-2">
                    <button class="btn">
                        < </button>
                            <ng-container>
                                <button class="btn">
                                    1
                                </button>
                                <button class="btn btn-primary active">
                                    2
                                </button>
                                <span class="ellipsiss">...</span>
                            </ng-container>
                            <button class="btn">
                                >
                            </button>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-12 pr-0 mb-3">
            <div class="card-collapsible card">
                <div class="card-header">
                    Quick Form <i class="fa fa-caret-down caret"></i>
                </div>
                <div class="card-body">
                    <form>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Assignee's email">
                            <div class="input-group-append">
                                <span class="input-group-text">@example.com</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ticket title">
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" placeholder="Ticket description" cols="30"
                                rows="5"></textarea>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-send"></i>
                                    Submit Ticket
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
    </div>
    <div class="scashsection row justify-content-between mx-0 mb-4 px-3">
        <div class="row col-lg-6">
            <div class="saledata row col-lg-6">
                <div class="saleicon">
                    <img src="../../../../assets/images/cashicon.png" alt="cash" />
                </div>
                <div class="salecontent">
                    <p class="mb-0">Total Inside Sales</p>
                    <span>$100</span>
                </div>
            </div>
            <div class="scashdata row">
                <div class="scashicon">
                    <img src="../../../../assets/images/cashicon.png" alt="cash" />
                </div>
                <div class="scashcontent">
                    <p class="mb-0">Total Cash Inhand</p>
                    <span>$100</span>
                </div>
            </div>
        </div>
        <div class="nextbtn">
            <button>Next</button>
        </div>
    </div>
</main>