<!-- cards -->
<div class="passwordchange">
    <div class="passwordchangetitle d-flex">
        <div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.57031 5.93005L3.50031 12.0001L9.57031 18.0701" stroke="#080433" stroke-width="1.5"
                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M20.5 12H3.67" stroke="#080433" stroke-width="1.5" stroke-miterlimit="10"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <h4 class="mb-0">Settings</h4>
        <ul class="mb-0">
            <li class="mb-0">Change Password</li>
        </ul>
    </div>
    <div class="password">
        <div class="passwordform row">
            <form class="col-lg-6 col-12">
                <div class="mb-4">
                    <label for="oldPassword" class="form-label">Old Password<span class="required">*</span></label>
                    <div class="input-group passwordfield">
                        <input type="password" class="form-control" id="oldPassword" placeholder="Enter Old Password" [type]="showOldPassword ? 'text' : 'password'">
                        <button class="btn btn-outline-secondary" type="button" (click)="showOldPassword = !showOldPassword">
                            <i class="fas" [ngClass]="showOldPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </button>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="newPassword" class="form-label">New Password</label>
                    <div class="input-group passwordfield">
                        <input type="password" class="form-control" id="newPassword" placeholder="Enter New Password" [type]="showNewPassword ? 'text' : 'password'">
                        <button class="btn btn-outline-secondary" type="button" (click)="showNewPassword = !showNewPassword">
                            <i class="fas" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </button>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="confirmPassword" class="form-label">Confirm New Password</label>
                    <div class="input-group passwordfield">
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Enter Confirm New Password" [type]="showConfirmPassword ? 'text' : 'password'">
                        <button class="btn btn-outline-secondary" type="button" (click)="showConfirmPassword = !showConfirmPassword">
                            <i class="fas" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </button>
                    </div>
                </div>           
                <div class="submit-btn mt-4">
                    <div class="savebtn pr-0">
                        <button class="w-100">Update Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>