<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
    <div class="summaryheading">
      <h4>Store Summary</h4>
    </div>
    <div class="mt-2">
      <div class="pagedatatable d-flex" *ngIf="storedetail !=null">
        <div class="col-5">
          <table class="w-100">
            <tr class="text-center">
              <th>Description
              </th>
              <th>Amount</th>
            </tr>
            <tr *ngFor="let item of this.storedetail.insideSaleDtos" class="productcategory">
              <td class="text-left">{{item.propductCategory}}</td>
              <td>{{item.amount.toFixed(2)}}</td>
            </tr>
            <tr class="total productcategory">
              <td class="text-left">Total Inside Sale</td>
              <td>{{this.storedetail.totalInsideAmount.toFixed(2)}}</td>
            </tr>
            <tr class="productcategory">
              <td class="text-left">Opening Cash In hand</td>
              <td>{{this.storedetail.openingBalance.toFixed(2)}}</td>
            </tr>
            <tr class="tabledatasort productcategory">
              <td class="text-left">Arcade In</td>
              <td>{{this.storedetail.totalCoamInAmount.toFixed(2)}}</td>
            </tr>
            <tr class="tabledatasort productcategory">
              <td class="text-left">OTHER AMOUNT Inward</td>
              <td>{{this.storedetail.totalInwardAmount.toFixed(2)}}</td>
            </tr>
            <tr class="tabledatasort productcategory">
              <td class="text-left">Lottery</td>
              <td>{{this.storedetail.totalLotteryAmount.toFixed(2)}}</td>
            </tr>
            <tr class="tabledatasort productcategory">
              <td class="text-left">Tax Amount</td>
              <td>{{this.storedetail.totalTaxAmount.toFixed(2)}}</td>
            </tr>
            <tr class="tabledatasort productcategory">
              <td class="text-left">Gas Sales Amount</td>
              <td>{{this.storedetail.totalGasSaleAmount.toFixed(2)}}</td>
            </tr>
            <tr class=" total productcategory">
              <td class="text-left">Total IN </td>
              <td>{{this.storedetail.totalInputCase.toFixed(2)}}</td>
            </tr>

            <tr class="productcategory">
              <td class="text-left">LOTO PAYOUT </td>
              <td>{{this.storedetail.totalLotteryPayoutAmount.toFixed(2)}}</td>
            </tr>
            <tr class="productcategory">
              <td class="text-left">Store Expenses </td>
              <td>{{this.storedetail.expenseCaseAmount.toFixed(2)}}</td>
            </tr>
            <tr class="productcategory">
              <td class="text-left">Pay Out Purchases </td>
              <td>{{this.totalamountpurchasecash.toFixed(2)}}</td>
            </tr>
            <tr class="productcategory">
              <td class="text-left">Arcade Out </td>
           <td>{{this.storedetail.totalCoamOutAmount.toFixed(2)}}</td>
            </tr>
            <tr class="productcategory">
              <td class="text-left">PAYROLL </td>
              <td>{{this.storedetail.salaryAmount.toFixed(2)}}</td>
            </tr>
            <tr class="productcategory">
              <td class="text-left">OTHER AMOUNT </td>
              <td>{{this.storedetail.totalOutwardAmount.toFixed(2)}}</td>
            </tr>
            <tr class="productcategory">
              <td class="text-left">CREDIT CARD </td>
              <td>{{this.storedetail.totalCreditCardincome.toFixed(2)}}</td>
            </tr>
            <tr class="productcategory">
              <td class="text-left">Gas Discount </td>
              <td>{{this.storedetail.totalGasDiscountAmount.toFixed(2)}}</td>
            </tr>
            <tr class=" total productcategory">
              <td class="text-left">Total Out </td>
              <td>{{this.storedetail.totalOutputCase.toFixed(2)}}</td>
            </tr>
            <tr class=" total productcategory">
              <td class="text-left">Total In-Total Out </td>
              <td>{{this.storedetail.totalDiffCase.toFixed(2)}}</td>
            </tr>
            <tr class="productcategory">
              <td class="text-left">Closing Cash</td>
              <td>{{this.storedetail.closingBalance.toFixed(2)}}</td>
            </tr>
            <!-- <tr>
              <td></td>
              <td></td>
            </tr> -->
            <tr class="productcategory">
              <td>Total Deposit</td>
              <td>{{this.storedetail.closingBalance.toFixed(2)}}</td>
            </tr>
            <tr class="total productcategory">
              <td> Over/Short</td>
              <td class="text-right">{{this.storedetail.totalOverShort.toFixed(2)}}</td>
            </tr>



          </table>

           <table class="mt-3 w-100">
            <tr class="text-center">
              <th>LOTTERY DETAILS
              </th>
              <th>Amount</th>
            </tr>
            <tr *ngFor="let item of this.storedetail.lotteryPayDetailDtos " class="productcategory">
              <td>{{item.lotteryName}}</td>
              <td>{{item.lotteryAmount}}</td>
            </tr>

            <tr class="expensetext">
              <td class="total">Total Amount</td>
              <td class="total">{{this.storedetail.totalLotteryAmount.toFixed(2)}}</td>
            </tr>
            <tr class="productcategory">
              <td class="text-left">- Pay Out</td>
              <td>{{this.storedetail.totalLotteryPayoutAmount.toFixed(2)}}</td>
            </tr>
            <tr class="productcategory">
              <td class="text-left"> - Commission</td>
              <td> {{((this.storedetail.totalLotteryAmount * 6 )/100 ).toFixed(2)}}</td>
            </tr>
            <tr class="productcategory">
              <td class="text-left">Total Due</td>
              <td> {{ (this.storedetail.totalLotteryAmount-(this.storedetail.totalLotteryPayoutAmount + ((this.storedetail.totalLotteryAmount * 6 )/100) )).toFixed(2)
                }} </td>
            </tr>


          </table> 
        </div>
        <div class="col-7">
          <div class="vendorcategory w-100">
            <table class="tablewidth">
              <thead>
                <tr class="text-center">
                  <th [attr.colspan]="categories!=null ? categories.length + 3 : 3" class="headbackcolor">Purchases (CASH)</th>
                </tr>
                <tr>  <th>Date</th>
                  <th>Vendor Name</th>
                  <th *ngFor="let category of categories">{{ category }}</th>
                  <th class="text-left">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of vendorCategoryAmountscase" class="purchasetext">
                  <td>{{item.amountDate | date :'dd-MM-yyyy'}}</td>
                  <td>{{ item.vendorName }}</td>
                  <td *ngFor="let category of categories">{{ (item.amounts[category]).toFixed(2) || 0 }}</td>

                  <td class="total">{{ getTotalAmountForVendor(item).toFixed(2) }}</td>

                </tr>
                <tr class="purchasetext"><td></td>
                  <td class="total text-left">Total</td>
                  <td *ngFor="let category of categories" class="total">{{ (totalAmounts[category]).toFixed(2) || 0 }}</td>
                  <td class="total">{{this.totalamountpurchasecash.toFixed(2) }}</td>
                </tr>
              </tbody>



              <thead>
                <tr class="text-center">
                  <th  [attr.colspan]="categories!=null ? categories.length + 3 : 3" class="headbackcolor">Purchases (Cheque)</th>
                </tr>
                <tr>
                  <th>Date</th>
                  <th>Vendor Name</th>
                  <th *ngFor="let category of categories">{{ category }}</th>
                  <th class="text-left">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of vendorCategoryAmountscheque" class="purchasetext">
                  <td>{{item.amountDate | date :'dd-MM-yyyy'}}</td>
                  <td>{{ item.vendorName }}</td>
                  <td *ngFor="let category of categories">{{ (item.amounts[category]).toFixed(2) || 0 }}</td>
                  <td class="total">{{ getTotalAmountForVendor(item).toFixed(2) }}</td>
                </tr>
                <tr class="purchasetext"><td></td>
                  <td class="total text-left">Total</td>
                  <td *ngFor="let category of categories" class="total">{{( totalAmountscheque[category]).toFixed(2) || 0 }}</td>
                  <td class="total">{{this.totalamountpurchasecheque.toFixed(2) }}</td>
                </tr>
              </tbody>

              <thead>
                <tr class="text-center">
                  <th  [attr.colspan]="categories!=null ? categories.length + 3 : 3" class="headbackcolor">Purchases (EFT)</th>
                </tr>
                <tr>
                  <th>Date</th>
                  <th>Vendor Name</th>
                  <th *ngFor="let category of categories">{{ category }}</th>
                  <th class="text-left">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of vendorCategoryAmountseft" class="purchasetext">
                  <td>{{item.amountDate | date :'dd-MM-yyyy'}}</td>
                  <td>{{ item.vendorName }}</td>
                  <td *ngFor="let category of categories">{{ (item.amounts[category]).toFixed(2) || 0 }}</td>
                  <td class="total">{{ getTotalAmountForVendor(item).toFixed(2) }}</td>
                </tr>
                <tr class="purchasetext"><td></td>
                  <td class="total text-left">Total</td>
                  <td *ngFor="let category of categories" class="total">{{( totalAmountseft[category]).toFixed(2) || 0 }}</td>
                  <td class="total">{{this.totalamountpurchaseeft.toFixed(2) }}</td>
                </tr>
              </tbody>


              <thead>
                <tr class="text-center">
                  <th  [attr.colspan]="categories!=null ? categories.length + 3 : 3" class="headbackcolor">Purchases (ACH)</th>
                </tr>
                <tr>
                  <th>Date</th>
                  <th>Vendor Name</th>
                  <th *ngFor="let category of categories">{{ category }}</th>
                  <th class="text-left">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of vendorCategoryAmountsache" class="purchasetext">
                  <td>{{item.amountDate | date :'dd-MM-yyyy'}}</td>
                  <td>{{ item.vendorName }}</td>
                  <td *ngFor="let category of categories">{{ (item.amounts[category]).toFixed(2) || 0 }}</td>
                  <td class="total">{{ getTotalAmountForVendor(item).toFixed(2) }}</td>
                </tr>
                <tr class="purchasetext"><td></td>
                  <td class="total text-left">Total</td>
                  <td *ngFor="let category of categories" class="total">{{( totalAmountsach[category]).toFixed(2) || 0 }}</td>
                  <td class="total">{{this.totalamountpurchaseach.toFixed(2) }}</td>
                </tr>
              </tbody>


            </table>
          </div>
          <div class="mt-3 d-flex">
            <div style="width:50%;">
              <table class="w-100">
                <thead>
                  <tr class="theading">
                    <th colspan="2" class="headbackcolor">STORE EXPENSES (CASH)</th>
                  </tr>
                  <tr>
                    <th>Description</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.storedetail.storeExpenseCaseDtos" class="expensetext">
                    <td>{{item.categoryName}}</td>
                    <td>{{item.amount.toFixed(2)}}</td>
                  </tr>
                  <tr class="expensetext">
                   
                    <td class="total text-left">Total Amount</td>
                    <td class="total">{{this.storedetail.expenseCaseAmount.toFixed(2)}}</td>
                  </tr>
                </tbody>

              </table>
            </div>
            <div style="width:50%; margin-left: 10px;;">
              <table class="w-100">
                <thead>
                  <tr class="theading">
                    <th colspan="3" class="headbackcolor">STORE EXPENSES (Cheque)</th>
                  </tr>
                  <tr>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Cheque No</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.storedetail.storeExpenseCheckDtos" class="expensetext">
                    <td>{{item.categoryName}}</td>
                    <td>{{item.amount.toFixed(2)}}</td>
                    <td>{{item.chequeNo}}</td>
                  </tr>
                  <tr class="expensetext">
                    <td class="total text-left">Total Amount</td>
                    <td>{{this.storedetail.expenseCheckAmount.toFixed(2)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div>
            <table class="tablewidth mt-3">
              <thead>
                <tr>
                  <th class="headbackcolor" colspan="7">Gasoline Inventory</th>
                </tr>
                <tr class="">
                  <th class="px-3 pb-2">Gas Type</th>
                  <th class="px-3 pb-2">OPEN (Gallons)</th>
                  <th class="px-3 pb-2">+ PURCHASES (Gallons)</th>
                  <th class="px-3 pb-2">-SALES(Gallons)</th>
                  <th class="px-3 pb-2">CLOSE(Gallons)</th>
                  <th class="px-3 pb-2">Physical (Gallons)</th>
                  <th class="px-3 pb-2">Over/Short(Gallons)</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of this.storedetail.gesSummaryDto">
                  <td class="pr-4">{{ item.gesTypeName }}</td>
                  <td class="text-end">
                    <span>{{item.openStock.toFixed(2)}}</span>
                  </td>
                  <td class="text-end">
                    <span>{{item.purchases.toFixed(2)}}</span>
                  </td>
                  <td class="text-end">
                    <span>{{item.sales.toFixed(2)}}</span>
                  </td>
                  <td class="text-end">
                    <span>{{item.closingStock.toFixed(2)}}</span>
                  </td>
                  <td class=" text-end">{{ item.physicalStock.toFixed(2) }}</td>
                  <td class=" text-end">{{ item.overShort.toFixed(2) }}</td>

                  
                </tr>
                <tr>  <td class="pr-4 total">Total</td>
                  <td class="total text-end">
                    <span>{{this.storedetail.gesOpenSum.toFixed(2)}}</span>
                  </td>
                  <td class="total text-end">
                    <span>{{this.storedetail.gesPurchaseSum.toFixed(2)}}</span>
                  </td>
                  <td class="total text-end">
                    <span>{{this.storedetail.gesSaleSum.toFixed(2)}}</span>
                  </td>
                  <td class="total text-end">
                    <span>{{this.storedetail.gesCloseSum.toFixed(2)}}</span>
                  </td>
                  <td class="total text-end">{{ this.storedetail.gesPhysicalSum.toFixed(2) }}</td>
                  <td class="total text-end">{{ this.storedetail.gesShortSum.toFixed(2) }}</td></tr>

              </tbody>
            </table>
          </div>
          <!-- <div class="d-flex mt-3">
            <div style="width:50%;">
              <table class="w-100">
                <thead>
                  <tr class="theading">
                    <th colspan="2" class="headbackcolor">Other Payouts(CASH)</th>
                  </tr>
                  <tr>
                    <th>Description</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of otherpyaoutdataCash " class="expensetext">
                    <td>{{item.categoryName}}</td>
                    <td>{{item.amount}}</td>
                  </tr>
                  <tr class="expensetext">
                    <td class="total text-left">Total Amount</td>
                    <td>{{this.otherpyaoutdataCashamount}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div style="width:50%;">
              <table class="w-100">
                <thead>
                  <tr class="theading">
                    <th colspan="2" class="headbackcolor">Other Payouts(Cheque)</th>
                  </tr>
                  <tr>
                    <th>Description</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of otherpyaoutdataCheque " class="expensetext">
                    <td>{{item.categoryName}}</td>
                    <td>{{item.amount}}</td>
                  </tr>
                  <tr class="expensetext">
                    <td class="total text-left">Total Amount</td>
                    <td>{{this.otherpyaoutdataCashamount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>




          </div> -->
          <div class="d-flex mt-3" style="gap: 10px;">
            <div style="width:50%;">
              <table class="w-100">
                <thead>
                  <tr class="theading">
                    <th colspan="2" class="headbackcolor">Payroll(CASH)</th>
                  </tr>
                  <tr>
                    <th>Description</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.storedetail.salaryTransactioncashDtos" class="expensetext">
                    <td>{{item.employeeName}}</td>
                    <td>{{item.amount.toFixed(2)}}</td>
                  </tr>
                  <tr class="expensetext">
                    <td class="total text-left">Total Amount</td>
                    <td>{{this.storedetail.salaryCaseAmount.toFixed(2)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="width:50%;">
              <table class="w-100">
                <thead>
                  <tr class="theading">
                    <th colspan="3" class="headbackcolor">Payroll(Cheque)</th>
                  </tr>
                  <tr>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Cheque</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.storedetail.salaryTransactionchequeDtos" class="expensetext">
                    <td>{{item.employeeName}}</td>
                    <td>{{item.amount.toFixed(2)}}</td>
                    <td>{{item.chequeNo}}</td>
                  </tr>
                  <tr class="expensetext">
                    <td class="total text-left">Total Amount</td>
                    <td>{{this.storedetail.salaryCheckAmount.toFixed(2)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- <div class="d-flex mt-3">
            <div style="width:50%;">
              <table class="w-100">
                <thead>
                  <tr class="theading">
                    <th colspan="2" class="headbackcolor">Lottery Payouts(CASH)</th>
                  </tr>
                  <tr>
                    <th>Description</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of lotterypyaoutdataCash" class="expensetext">
                    <td>{{item.categoryName}}</td>
                    <td>{{item.amount}}</td>
                  </tr>
                  <tr class="expensetext">
                    <td class="total text-left">Total Amount</td>
                    <td>{{this.lotterypyaoutdataCashamount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="width:50%;">
              <table class="w-100">
                <thead>
                  <tr class="theading">
                    <th colspan="2" class="headbackcolor">Lottery Payouts(Cheque)</th>
                  </tr>
                  <tr>
                    <th>Description</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of lotterypyaoutdataCheque" class="expensetext">
                    <td>{{item.categoryName}}</td>
                    <td>{{item.amount}}</td>
                  </tr>
                  <tr class="expensetext">
                    <td class="total text-left">Total Amount</td>
                    <td>{{this.lotterypyaoutdataChequeamount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> -->


        </div>
      </div>
    </div>
  </div>
</div>