<div class="storeentryform">
    <div class="store-heading">
        <h4 class="">Manage Store</h4>
    </div>
    <div class="storeformdata">
        <form class="row">
            <div class="mb-3 col-lg-6">
                <label for="FormControlInput1" class="form-label">Store Name<span class="required">*</span></label>
                <input type="text" class="form-control" id="FormControlInput1" placeholder="Enter Store Name">
            </div>
            <div class="mb-3 col-lg-6">
                <label for="FormControlInput1" class="form-label">Store Code<span>*</span></label>
                <input type="text" class="form-control" id="FormControlInput1" placeholder="Enter Store Code">
            </div>
            <div class="mb-3 col-lg-6">
                <label for="FormControlInput1" class="form-label">Store Email</label>
                <input type="email" class="form-control" id="FormControlInput1" placeholder="Enter Store Email">
            </div>
            <div class="mb-3 col-lg-6">
                <label for="FormControlInput1" class="form-label">Store Contact No</label>
                <input type="text" class="form-control" id="FormControlInput1" placeholder="Enter Store Contact No">
            </div>
            <div class="mb-3 col-lg-6">
                <label for="FormControlInput1" class="form-label">Store Opening Date</label>
                <input type="date" class="form-control" id="FormControlInput1" placeholder="Enter Store Opening Date">
            </div>
            <div class="mb-3 col-lg-6">
                <label for="FormControlInput1" class="form-label">Address</label>
                <input type="text" class="form-control" id="FormControlInput1" placeholder="Enter Store Address">
            </div>
            <div class="submit-btn col-12 d-flex justify-content-sm-end justify-content-between">
                <div class="resetbtn">
                    <button>Reset</button>
                </div>
                <div class="savebtn">
                    <button>Save</button>
                </div>
            </div>
        </form>
    </div>
    <div class="">
        <div class="search-field d-sm-flex justify-content-between my-4">
            <div class="pageoption d-flex align-items-center">
                <select class="pagecounting" id="pagecount">
                    <option value="50">50</option>
                    <option value="200">200</option>
                    <option value='all'>All</option>
                </select>
            </div>
            <div class="d-flex gap-2">
                <input class="searchfield" type="text" placeholder="Search...">
            </div>
        </div>
        <div class="table-container">
            <table class="table">
                <thead class="thead text-white">
                    <tr>
                        <th scope="col">Store Name</th>
                        <th scope="col">Store Code</th>
                        <th scope="col">Store Email</th>
                        <th scope="col">Store Contact No</th>
                        <th scope="col">Store Opening Date</th>
                        <th scope="col">Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Store Name</td>
                        <td>$1, 174.57</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                    </tr>
                    <tr>
                        <td>Store Name</td>
                        <td>$1, 174.57</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                    </tr>
                    <tr>
                        <td>Store Name</td>
                        <td>$1, 174.57</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                    </tr>
                    <tr>
                        <td>Store Name</td>
                        <td>$1, 174.57</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                    </tr>
                    <tr>
                        <td>Store Name</td>
                        <td>$1, 174.57</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                    </tr>
                    <tr>
                        <td>Store Name</td>
                        <td>$1, 174.57</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                    </tr>
                    <tr>
                        <td>Store Name</td>
                        <td>$1, 174.57</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                    </tr>
                    <tr>
                        <td>Store Name</td>
                        <td>$1, 174.57</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                    </tr>
                    <tr>
                        <td>Store Name</td>
                        <td>$1, 174.57</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                    </tr>
                    <tr>
                        <td>Store Name</td>
                        <td>$1, 174.57</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                        <td>$1, 033.81</td>
                        <td>$830.34</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination-container my-0">
        <button class="btn">
            < </button>
                <ng-container>
                    <button class="btn">
                        1
                    </button>
                    <button class="btn btn-primary active">
                        2
                    </button>
                    <span class="ellipsiss">...</span>
                </ng-container>
                <button class="btn">
                    >
                </button>
    </div>
</div>