<main class="mystore">
    <!-- edit request popup -->
    <!-- <div id="termpopupContainer" class="termspopup-container">
        <div class="editrequest text-center">
            <h4>Edit Request</h4>
            <span>Please write a reason for edit request</span>
        </div>
        <div class="reason pt-4 mt-2">
            <form class="">
                <div>
                    <label for="FormControlInput1" class="form-label pb-1">Enter reason</label>
                    <input type="text" class="form-control" formControlName="reason" id="FormControlInput1">
                </div>
                <div class="popup-submit mt-4 text-center">
                    <button type="submit" (click)="closePopup()">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div> -->


    <div class="mystoretitle d-sm-flex justify-content-between">
        <h6>My Sores</h6>
        <!-- <div class="editbtn">
                        <button class="opendrawer" type="button" (click)="openPopup()">Edit Request</button>
                    </div> -->
    </div>
    <div class="commontable">
        <div class="search-field d-sm-flex justify-content-between my-3">
            <div class="pageoption d-flex align-items-center">
                <select class="pagecounting" id="pagecount" (change)="onPageSizeChange($event)">
                    <option value="50">50</option>
                    <option value="200">200</option>
                    <option value='all'>All</option>
                </select>
            </div>
            <div class="d-flex gap-2">
                <input class="searchfield" type="text" placeholder="Search..." [(ngModel)]="filterValue"
                (input)="applyFilter()">
            </div>
        </div>
        <div class="table-container">
            <table class="table" *ngIf="visibleRows!=null">
                <thead class="thead text-white">
                    <tr>
                        <th>Sr.No.</th>
                        <th scope="col">Store</th>
                        <th scope="col">Total Sales</th>
                        <th scope="col">Total Expanses</th>
                        <th scope="col">Total Cash In-hand</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of visibleRows; let idx=index;" class="whitebg-row" [style.display]="item.visible ? 'table-row' : 'none'">
                        <td class="tablefirstdata">{{(currentPage - 1)*pageSize +idx +1}}</td>
                        <td class="storename-address">
                            <div class="d-flex storename-add">
                                <div>
                                    <img src="../../../../assets/images/store.png" />
                                </div>
                                <div class="teblestorename">
                                    <span>{{item.storeName}}</span>
                                    <div class="d-flex location">
                                        <span>
                                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M9 10.5726C10.2924 10.5726 11.34 9.52492 11.34 8.23258C11.34 6.94023 10.2924 5.89258 9 5.89258C7.70766 5.89258 6.66 6.94023 6.66 8.23258C6.66 9.52492 7.70766 10.5726 9 10.5726Z"
                                                    stroke="#747684" stroke-width="1.5" />
                                                <path
                                                    d="M2.715 6.8675C4.1925 0.372502 13.815 0.380002 15.285 6.875C16.1475 10.685 13.7775 13.91 11.7 15.905C10.1925 17.36 7.8075 17.36 6.2925 15.905C4.2225 13.91 1.8525 10.6775 2.715 6.8675Z"
                                                    stroke="#747684" stroke-width="1.5" />
                                            </svg>
                                        </span>
                                        <p class="mb-0 pt-1">{{item.storeAddress}}</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{item.totalSale}}</td>
                        <td>{{item.totalExpence}}</td>
                        <td>{{item.totalCashInHand}}</td>
                        <td class="adddailybtn">
                            <div class="addbtn">
                                <button type="button" (click)="onStore(item.storeId)">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                                            stroke="#080433" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M8 12H16" stroke="#080433" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path d="M12 16V8" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>

                                    Add Daily Report</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination-container my-0">
        <button class="btn" (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
            < </button>
            <ng-container *ngFor="let page of getPageNumbers()">
                <button class="btn" [ngClass]="{ 'active': page === currentPage }"
                    *ngIf="page !== '...' && page !== currentPage" (click)="onPageChange(page)">
                    {{ page }}
                </button>
                <button class="btn btn-primary active" *ngIf="page === currentPage" disabled>
                    {{ page }}
                </button>
                <span class="ellipsiss" *ngIf="page === '...'">...</span>
            </ng-container>
                <button class="btn" (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">
                    >
                </button>
    </div>
</main>