<!-- cards -->
<div class="dailysales">
    <div class="d-flex justify-content-between align-items-center">
        <div class="dailyheading my-lg-3 my-2 pt-2">
            <h4 class="mb-0">Add Expenses</h4>
        </div>
        <!-- <div class="d-flex justify-content-end mt-5 pt-4">
            <span>Total Inside Sales : <b>$2800</b></span>
        </div> -->
    </div>

    <!-- =======================Expenses Pages -->
    <div>
        <div class="expensescategory mx-0">
            <owl-carousel-o [options]="videoslide" style="width: 100%!important;">
                <ng-container class="custom-slide">
                    <ng-template class="" carouselSlide class="custom-slide">
                        <div class="expensesdata d-flex" (click)="showexpensesData(0); activeIndex = 0"
                            [style.border]="activeIndex === 0 ? '2px solid #FB5B83': null"
                            [style.border-radius.px]="activeIndex === 0 ? 12 : null"
                            [style.padding.px]="activeIndex === 0 ? 8 : null"
                            [style.background]="activeIndex === 0 ? '#ed6c3c1a' : null"
                            [style.box-shadow]="activeIndex === 0 ? 'rgba(237, 108, 60, 0.15) 0px 20px 40px 0px' : null">
                            <div class="gcategoryicon categoryicon">
                                <img src="./assets/images/creditcard.png" alt="cash" />
                            </div>
                            <div class="productcontent">
                                <p class="mb-0">Credit Cards</p>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
                <ng-container class="custom-slide">
                    <ng-template class="" carouselSlide class="custom-slide">
                        <div class="expensesdata d-flex" (click)="showexpensesData(1); activeIndex = 1"
                            [style.border]="activeIndex === 1 ? '2px solid #FB5B83': null"
                            [style.border-radius.px]="activeIndex === 1 ? 12 : null"
                            [style.padding.px]="activeIndex === 1 ? 8 : null"
                            [style.background]="activeIndex === 1 ? '#ed6c3c1a' : null"
                            [style.box-shadow]="activeIndex === 1 ? 'rgba(237, 108, 60, 0.15) 0px 20px 40px 0px' : null">
                            <div class="gcategoryicon categoryicon">
                                <img src="./assets/images/storeexpense.png" alt="cash" />
                            </div>
                            <div class="productcontent">
                                <p class="mb-0">Store Expense</p>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
                <ng-container class="custom-slide">
                    <ng-template class="" carouselSlide class="custom-slide">
                        <div class="expensesdata d-flex" (click)="showexpensesData(2); activeIndex = 2"
                            [style.border]="activeIndex === 2 ? '2px solid #FB5B83': null"
                            [style.border-radius.px]="activeIndex === 2 ? 12 : null"
                            [style.padding.px]="activeIndex === 2 ? 8 : null"
                            [style.background]="activeIndex === 2 ? '#ed6c3c1a' : null"
                            [style.box-shadow]="activeIndex === 2 ? 'rgba(237, 108, 60, 0.15) 0px 20px 40px 0px' : null">
                            <div class="gcategoryicon categoryicon">
                                <img src="./assets/images/lotterypayout.png" alt="cash" />
                            </div>
                            <div class="productcontent">
                                <p class="mb-0">Lottery Payout</p>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
                <ng-container class="custom-slide">
                    <ng-template class="" carouselSlide class="custom-slide">
                        <div class="expensesdata d-flex" (click)="showexpensesData(3); activeIndex = 3"
                            [style.border]="activeIndex === 3 ? '2px solid #FB5B83': null"
                            [style.border-radius.px]="activeIndex === 3 ? 12 : null"
                            [style.padding.px]="activeIndex === 3 ? 8 : null"
                            [style.background]="activeIndex === 3 ? '#ed6c3c1a' : null"
                            [style.box-shadow]="activeIndex === 3 ? 'rgba(237, 108, 60, 0.15) 0px 20px 40px 0px' : null">
                            <div class="gcategoryicon categoryicon">
                                <img src="./assets/images/lotterypayout.png" alt="cash" />
                            </div>
                            <div class="productcontent">
                                <p class="mb-0">Arcade Payout</p>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
                <ng-container class="custom-slide">
                    <ng-template class="" carouselSlide class="custom-slide">
                        <div class="expensesdata d-flex" (click)="showexpensesData(4); activeIndex = 4"
                            [style.border]="activeIndex === 4 ? '2px solid #FB5B83': null"
                            [style.border-radius.px]="activeIndex === 4 ? 12 : null"
                            [style.padding.px]="activeIndex === 4 ? 8 : null"
                            [style.background]="activeIndex === 4 ? '#ed6c3c1a' : null"
                            [style.box-shadow]="activeIndex === 4 ? 'rgba(237, 108, 60, 0.15) 0px 20px 40px 0px' : null">
                            <div class="gcategoryicon categoryicon">
                                <img src="./assets/images/otherpayout.png" alt="cash" />
                            </div>
                            <div class="productcontent">
                                <p class="mb-0">Other Payout</p>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
                <ng-container class="custom-slide">
                    <ng-template class="" carouselSlide class="custom-slide">
                        <div class="expensesdata d-flex" (click)="showexpensesData(5); activeIndex = 5"
                            [style.border]="activeIndex === 5 ? '2px solid #FB5B83': null"
                            [style.border-radius.px]="activeIndex === 5 ? 12 : null"
                            [style.padding.px]="activeIndex === 5 ? 8 : null"
                            [style.background]="activeIndex === 5 ? '#ed6c3c1a' : null"
                            [style.box-shadow]="activeIndex === 5 ? 'rgba(237, 108, 60, 0.15) 0px 20px 40px 0px' : null">
                            <div class="gcategoryicon categoryicon">
                                <img src="./assets/images/payroll.png" alt="cash" />
                            </div>
                            <div class="productcontent">
                                <p class="mb-0">Payroll</p>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>

        <!-- credit card section -->
        <div *ngIf="showCreditCardInput">
            <div class="d-sm-flex justify-content-between mt-sm-4 mb-sm-auto mt-2 mb-4 py-sm-3 py-1">
                <div class="store-heading">
                    <h4 class="">Add Credit Card Report</h4>
                </div>
                <!-- <div class="addmore">
                    <button>
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 22.5C17.5 22.5 22 18 22 12.5C22 7 17.5 2.5 12 2.5C6.5 2.5 2 7 2 12.5C2 18 6.5 22.5 12 22.5Z"
                                stroke="#080433" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8 12.5H16" stroke="#080433" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M12 16.5V8.5" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        Add More</button>
                </div> -->
            </div>
            <div class="dataform row align-items-center">
                <div class="typeheading col">
                    <h6 class="mb-0">Credit Card</h6>
                </div>
                <div class="col-xl-11 col-lg-10 carddataform">
                    <form class="row align-items-end justify-content-between" [formGroup]="formcradit" (submit)="onSubmitCredit()">
                        <div class="col-lg-4 col-sm-5 mt-lg-auto mt-3 pl-lg-0">
                            <div class="form-group mb-0">
                                <label for="FormControlInput1" class="form-label">Amount</label>
                                <input type="text" class="form-control" id="amount" formControlName="amount"
                                    placeholder="Enter Amount">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 col-sm-7 mt-sm-auto mt-2">
                            <div class="form-group mb-0">
                                <label for="FormControlInput1" class="form-label">Description</label>
                                <input type="text" class="form-control" id="description" formControlName="description"
                                    placeholder="Enter Description">
                            </div>
                        </div>
                        <div
                            class="col-xl-2 col-lg-3 d-flex justify-content-sm-end justify-content-center mt-lg-auto mt-3">
                            <div class="submitbtn w-100">
                                <button>Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="commontable mt-4 py-3">
                <h4>Reports</h4>
                <div class="table-container">
                    <table class="table">
                        <thead class="thead text-white">
                            <tr>
                                <th>Sr.No</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Description</th>
                                <th scope="col" colspan="2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of expenseiteslist">
                                <td class="tablefirstdata">1</td>
                                <td>{{row.amount}}</td>
                                <td class="descriptiontd">{{row.description}}</td>
                                <td class="action">
                                    <button type="button" class="editbtn" (click)="onedit(row.expenseItemId)">
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect width="40" height="40" rx="12" fill="#F8F5FF" />
                                            <path
                                                d="M21.05 13L14.2083 20.2417C13.95 20.5167 13.7 21.0584 13.65 21.4334L13.3416 24.1334C13.2333 25.1084 13.9333 25.775 14.9 25.6084L17.5833 25.15C17.9583 25.0834 18.4833 24.8084 18.7416 24.525L25.5833 17.2834C26.7666 16.0334 27.3 14.6084 25.4583 12.8667C23.625 11.1417 22.2333 11.75 21.05 13Z"
                                                stroke="#023088" stroke-width="1.5" stroke-miterlimit="10"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M19.9083 14.2084C20.2667 16.5084 22.1333 18.2667 24.45 18.5"
                                                stroke="#023088" stroke-width="1.5" stroke-miterlimit="10"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M12.5 28.3334H27.5" stroke="#023088" stroke-width="1.5"
                                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </td>
                                <td class="action">
                                    <button type="button" class="deletebtn">
                                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <rect width="40" height="40" rx="12" fill="#FFF0F1" />
                                            <path
                                                d="M27.5 14.9833C24.725 14.7083 21.9333 14.5667 19.15 14.5667C17.5 14.5667 15.85 14.65 14.2 14.8167L12.5 14.9833"
                                                stroke="#C82D31" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M17.0834 14.1416L17.2667 13.05C17.4 12.2583 17.5 11.6666 18.9084 11.6666H21.0917C22.5 11.6666 22.6084 12.2916 22.7334 13.0583L22.9167 14.1416"
                                                stroke="#C82D31" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M25.7083 17.6167L25.1666 26.0084C25.075 27.3167 25 28.3334 22.675 28.3334H17.325C15 28.3334 14.925 27.3167 14.8333 26.0084L14.2916 17.6167"
                                                stroke="#C82D31" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path d="M18.6083 23.75H21.3833" stroke="#C82D31" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                            <path d="M17.9166 20.4166H22.0833" stroke="#C82D31" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                           

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- ============Store Expenses section============ -->
        <div *ngIf="showStoreInput">
            <div class="store-heading mt-xl-4 py-3">
                <h4 class="mb-0">Add Store Expense Report</h4>
            </div>
            <div>
                <div class="data-container pt-4" *ngIf="expenseitem != null">
                    <div class="paytype">
                        <label class="paytype-option">
                            <input type="radio" name="payMode" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="selectedOption" (ngModelChange)="onPayModeChange('1')" value="1"
                                class="radio-input" />
                            <span class="custom-radio"></span>
                            Cash
                        </label>
                        <label class="paytype-option">
                            <input type="radio" name="payMode" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="selectedOption" (ngModelChange)="onPayModeChange('2')" value="2"
                                class="radio-input" />
                            <span class="custom-radio"></span>
                            Cheque
                        </label>
                    </div>
                    <div class="dailytabledata expensestabledata">
                        <table>
                            <thead>
                                <tr class="">
                                    <th class="px-3 pb-2"></th>

                                    <th class="px-3 pb-2">Amount</th>
                                    <th class="px-3 pb-2">Description</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="expenseitemdetail != null">
                                <tr *ngFor="let row of expenseitemdetail">
                                    <td class="pr-xl-4">{{row.categoryName}}</td>

                                    <td class="pl-3 col-xl-2 col-lg-3">
                                        <div class="forminput">
                                            <div class="inputfield px-2 d-flex align-items-center">
                                                <span>$</span>

                                                <input type="text" class="form-control"
                                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="row.amount">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-6 px-0">
                                        <div class="forminput">
                                            <div class="inputfield px-2 ml-3 d-flex align-items-center">
                                               
                                                <input type="text" class="form-control"
                                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="row.description">

                                            </div>
                                        </div>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="">
                    <div class="expenses-submitbtn">
                        <button type="submit" (click)="onExpeseSave()">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- ============Lottery Payout section============ -->
        <div *ngIf="showLotteryInput">
            <div class="store-heading mt-xl-4 py-3">
                <h4 class="mb-0">Add Lottery Expense Report</h4>
            </div>
            <div>
                <div class="data-container pt-4" *ngIf="expenseitem != null">
                    <div class="paytype">
                        <label class="paytype-option">
                            <input type="radio" name="payMode" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="selectedOption" (ngModelChange)="onPayModeChange('1')" value="1"
                                class="radio-input" />
                            <span class="custom-radio"></span>
                            Cash
                        </label>
                        <label class="paytype-option">
                            <input type="radio" name="payMode" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="selectedOption" (ngModelChange)="onPayModeChange('2')" value="2"
                                class="radio-input" />
                            <span class="custom-radio"></span>
                            Cheque
                        </label>
                    </div>
                    <div class="dailytabledata expensestabledata">
                        <table>
                            <thead>
                                <tr class="">
                                    <th class="px-3 pb-2"></th>

                                    <th class="px-3 pb-2">Amount</th>
                                    <th class="px-3 pb-2">Description</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="expenseitemdetail != null">
                                <tr *ngFor="let row of expenseitemdetail">
                                    <td class="pr-xl-4">{{row.categoryName}}</td>

                                    <td class="pl-3 col-xl-2 col-lg-3">
                                        <div class="forminput">
                                            <div class="inputfield px-2 d-flex align-items-center">
                                                <span>$</span>

                                                <input type="text" class="form-control"
                                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="row.amount">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-6 px-0">
                                        <div class="forminput">
                                            <div class="inputfield px-2 ml-3 d-flex align-items-center">
                                               
                                                <input type="text" class="form-control"
                                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="row.description">

                                            </div>
                                        </div>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="">
                    <div class="expenses-submitbtn">
                        <button type="submit" (click)="onExpeseSave()">Submit</button>
                    </div>
                </div>
            </div>
        </div>

            <!-- ============Arcade Payout section============ -->
            <div *ngIf="showArcadeInput">
                <div class="store-heading mt-xl-4 py-3">
                    <h4 class="mb-0">Add Arcade Payouts Report</h4>
                </div>
                <div>
                    <div class="data-container pt-4" *ngIf="expenseitem != null">
                        <div class="paytype">
                            <label class="paytype-option">
                                <input type="radio" name="payMode" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="selectedOption" (ngModelChange)="onPayModeChange('1')" value="1"
                                    class="radio-input" />
                                <span class="custom-radio"></span>
                                Cash
                            </label>
                            <label class="paytype-option">
                                <input type="radio" name="payMode" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="selectedOption" (ngModelChange)="onPayModeChange('2')" value="2"
                                    class="radio-input" />
                                <span class="custom-radio"></span>
                                Cheque
                            </label>
                        </div>
                        <div class="dailytabledata expensestabledata">
                            <table>
                                <thead>
                                    <tr class="">
                                        <th class="px-3 pb-2"></th>
    
                                        <th class="px-3 pb-2">Amount</th>
                                        <th class="px-3 pb-2">Description</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="expenseitemdetail != null">
                                    <tr *ngFor="let row of expenseitemdetail">
                                        <td class="pr-xl-4">{{row.categoryName}}</td>
    
                                        <td class="pl-3 col-xl-2 col-lg-3">
                                            <div class="forminput">
                                                <div class="inputfield px-2 d-flex align-items-center">
                                                    <span>$</span>
    
                                                    <input type="text" class="form-control"
                                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="row.amount">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-6 px-0">
                                            <div class="forminput">
                                                <div class="inputfield px-2 ml-3 d-flex align-items-center">
                                                
                                                    <input type="text" class="form-control"
                                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="row.description">
    
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
    
    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="">
                        <div class="expenses-submitbtn">
                            <button type="submit" (click)="onExpeseSave()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ============Other Payout section============ -->
            <div *ngIf="showOtherInput">
                <div class="store-heading mt-xl-4 py-3">
                    <h4 class="mb-0">Add Other Payouts Report</h4>
                </div>
                <div>
                    <div class="data-container pt-4" *ngIf="expenseitem != null">
                        <div class="paytype">
                            <label class="paytype-option">
                                <input type="radio" name="payMode" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="selectedOption" (ngModelChange)="onPayModeChange('1')" value="1"
                                    class="radio-input" />
                                <span class="custom-radio"></span>
                                Cash
                            </label>
                            <label class="paytype-option">
                                <input type="radio" name="payMode" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="selectedOption" (ngModelChange)="onPayModeChange('2')" value="2"
                                    class="radio-input" />
                                <span class="custom-radio"></span>
                                Cheque
                            </label>
                        </div>
                        <div class="dailytabledata expensestabledata">
                            <table>
                                <thead>
                                    <tr class="">
                                        <th class="px-3 pb-2"></th>
    
                                        <th class="px-3 pb-2">Amount</th>
                                        <th class="px-3 pb-2">Description</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="expenseitemdetail != null">
                                    <tr *ngFor="let row of expenseitemdetail">
                                        <td class="pr-xl-4">{{row.categoryName}}</td>
    
                                        <td class="pl-3 col-xl-2 col-lg-3">
                                            <div class="forminput">
                                                <div class="inputfield px-2 d-flex align-items-center">
                                                    <span>$</span>
    
                                                    <input type="text" class="form-control"
                                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="row.amount">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-6 px-0">
                                            <div class="forminput">
                                                <div class="inputfield px-2 ml-3 d-flex align-items-center">
                                                  
                                                    <input type="text" class="form-control"
                                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="row.description">
    
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
    
    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="">
                        <div class="expenses-submitbtn">
                            <button type="submit" (click)="onExpeseSave()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Payroll section -->
            <div *ngIf="showPayrollInput">
                <div class="d-sm-flex justify-content-between mt-4 py-3">
                    <div class="store-heading">
                        <h4 class="">Add Payroll Report</h4>
                    </div>
                </div>
                <div class="payrolldataform align-items-center">
                    <div class="payrollcarddataform">
                        <form class="row align-items-end justify-content-between" [formGroup]="formcradit" (submit)="onSubmitPayrols()">
                            <div class="col-12 mb-2 d-flex justify-content-center">
                            <div class="paytypes">
                                <label class="paytype-option">
                                    <input type="radio" name="payMode" formControlName="payModeId"  [(ngModel)]="selectedOption"  value="1" class="radio-input" />
                                    <span class="custom-radio"></span>
                                    Cash
                                </label>
                                <label class="paytype-option">
                                    <input type="radio" name="payMode" formControlName="payModeId"  [(ngModel)]="selectedOption"  value="2" class="radio-input" />
                                    <span class="custom-radio"></span>
                                    Cheque
                                </label>
                            </div>

                            

                            </div>
                            <div class="col-lg col-sm-6 mt-lg-auto mt-3">
                                <div class="form-group mb-0">
                                    <label for="FormControlInput1" class="form-label">Employee Name</label>
                                    <input type="text" class="form-control" id="description"
                                        formControlName="description" placeholder="Employee Name">
                                </div>
                            </div>
                            <div class="col-lg col-sm-6">
                                <div class="form-group mb-0">
                                    <label for="FormControlInput1" class="form-label">Amount</label>
                                    <input type="text" class="form-control" id="amount" formControlName="amount"
                                        placeholder="Enter Amount">
                                </div>
                            </div>
                           
                           
                            <div class="col-lg-2 col-sm-3 mt-lg-auto mt-3">
                                <div class="submitbtn">
                                    <button  >Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="commontable mt-4 py-3">
                    <h4>Reports</h4>
                    <div class="table-container">
                        <table class="table">
                            <thead class="thead text-white">
                                <tr>
                                    <th>Sr.No</th> <th scope="col">Employee Name</th>
                                    <th scope="col">Pay Mode</th>
                                    <th scope="col">Amount</th>
                                   
                                    <th scope="col" colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of expenseiteslist">
                                    <td class="tablefirstdata">1</td>
                                    <td class="descriptiontd">{{row.description}}</td>
                                    <td class="descriptiontd">{{row.payModeName}}</td>
                                    <td>{{row.amount}}</td>
                                   
                                    <td class="action">
                                        <button type="button" class="editbtn" (click)="onedit(row.expenseItemId)">
                                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <rect width="40" height="40" rx="12" fill="#F8F5FF" />
                                                <path
                                                    d="M21.05 13L14.2083 20.2417C13.95 20.5167 13.7 21.0584 13.65 21.4334L13.3416 24.1334C13.2333 25.1084 13.9333 25.775 14.9 25.6084L17.5833 25.15C17.9583 25.0834 18.4833 24.8084 18.7416 24.525L25.5833 17.2834C26.7666 16.0334 27.3 14.6084 25.4583 12.8667C23.625 11.1417 22.2333 11.75 21.05 13Z"
                                                    stroke="#023088" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M19.9083 14.2084C20.2667 16.5084 22.1333 18.2667 24.45 18.5"
                                                    stroke="#023088" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M12.5 28.3334H27.5" stroke="#023088" stroke-width="1.5"
                                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </button>
                                    </td>
                                    <td class="action">
                                        <button type="button" class="deletebtn">
                                            <svg width="40" height="40" viewBox="0 0 40 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <rect width="40" height="40" rx="12" fill="#FFF0F1" />
                                                <path
                                                    d="M27.5 14.9833C24.725 14.7083 21.9333 14.5667 19.15 14.5667C17.5 14.5667 15.85 14.65 14.2 14.8167L12.5 14.9833"
                                                    stroke="#C82D31" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M17.0834 14.1416L17.2667 13.05C17.4 12.2583 17.5 11.6666 18.9084 11.6666H21.0917C22.5 11.6666 22.6084 12.2916 22.7334 13.0583L22.9167 14.1416"
                                                    stroke="#C82D31" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M25.7083 17.6167L25.1666 26.0084C25.075 27.3167 25 28.3334 22.675 28.3334H17.325C15 28.3334 14.925 27.3167 14.8333 26.0084L14.2916 17.6167"
                                                    stroke="#C82D31" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path d="M18.6083 23.75H21.3833" stroke="#C82D31" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M17.9166 20.4166H22.0833" stroke="#C82D31" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                               
    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>