<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
      <div class="summaryheading">
        <h4>Store Summary</h4>
      </div>
      <div class="mt-2">
        <div class="pagedatatable d-flex">
          <div class="">
            <div class="container">
                <div class="header">
                    <img src="logo.png" alt="Welcome Foods Logo">
                </div>
                <div class="title">
                    Welcome Foods Monthly P&L Sheet
                </div>
                <div class="section">
                    <strong>Store Name:</strong> FAIR GROUND<br>
                    <strong>Month:</strong> May 2024
                </div>
                <div class="section">
                    <div class="section-title">Grocery</div>
                    <table>
                        <tr>
                            <th>Opening Stock</th>
                            <td>66,928.63</td>
                            <th>Monthly Inside Sales</th>
                            <td>$62,525.71</td>
                        </tr>
                        <tr>
                            <th>Cash Purchase</th>
                            <td>5,544.96</td>
                            <th>Uber Eats</th>
                            <td>$-</td>
                        </tr>
                        <tr>
                            <th>Chq Purchase</th>
                            <td>38,462.47</td>
                            <th>Closing Stock</th>
                            <td>$61,780.58</td>
                        </tr>
                        <tr>
                            <th>Credit Eby brown bank</th>
                            <td>(30.59)</td>
                            <th>Total</th>
                            <td>$1,24,306.29</td>
                        </tr>
                        <tr class="highlight">
                            <th>Total</th>
                            <td>1,10,905.47</td>
                            <th></th>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div class="section">
                    <table>
                        <tr>
                            <th>Inside Gross Profit</th>
                            <td>13,400.82</td>
                            <th>% Margin</th>
                            <td>0.2289</td>
                        </tr>
                        <tr>
                            <th>ITG</th>
                            <td>96.40</td>
                            <th></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>PM</th>
                            <td></td>
                            <th></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>US SMOKLESS</th>
                            <td></td>
                            <th></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>RJR</th>
                            <td>816.90</td>
                            <th></th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Others</th>
                            <td></td>
                            <th></th>
                            <td></td>
                        </tr>
                        <tr class="total">
                            <th>Inside Total Gross</th>
                            <td>14,314.12</td>
                            <th></th>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>