<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
        <div class="summaryheading">
            <h4>Store P&L Sheet</h4>
            <form class="row align-items-center px-0 col-12 justify-content-between" [formGroup]="form">
                <div class="col-xl-4 col-lg-6">
                    <label for="FormControlInput1" class="form-label">Store Name<span class="required">*</span></label>
                    <ng-select formControlName="storeId" id="storeId" #SelectSizeDefault [items]="storeList"
                        [searchable]="true" bindLabel="storeName" bindValue="storeId">
                    </ng-select>
                </div>
                <div class="dateformet">
                    <label class="date form-label">From Date :</label><br>
                    <input type="date" id="entrydate" formControlName="fromDate" [(ngModel)]="fromDate">
                </div>
                <div class="dateformet">
                    <label class="date form-label">To Date :</label><br>
                    <input type="date" id="toDate" formControlName="toDate" [(ngModel)]="toDate">
                </div>
                <div class="reportbutton">
                    <button type="button" (click)="onGetReport()">Get Report</button>
                </div>
            </form>
            <div class="row mt-4">
                <div class="reportbtn col-2">
                    <button type="button" (click)="onChange('plreport')">P & L Report</button>
                    <button type="button" (click)="onChange('gesreport')">GAS</button>

                    <!-- <button type="button">Expense Detail</button>
                    <button type="button">Monthly Inside Sale</button>
                  
                    <button type="button">Cash Purchase</button>
                    <button type="button">Cheque Purchase</button>
                    <button type="button">Cash Expense</button>
                    <button type="button">Store Report</button>
                    <button type="button">Balance Sheet</button> -->
                </div>

                <div class="col-10" *ngIf="this.storedetail!=null">
                    <div class="pagedatatable d-flex" *ngIf="this.reporttype=='plreport'">
                        <div class="datasheet">
                            <div class="tsheet w-100">
                                <div class="header">
                                    <img src="logo.png" alt="Welcome Foods Logo">
                                </div>
                                <div class="title">
                                    Welcome Foods Monthly P&L Sheet
                                </div>
                                <div class="section mt-1">
                                    <div class="storename">
                                        <span class="heading">Store Name:</span>
                                        <span>{{this.storename}}</span>
                                    </div>
                                    <div class="month">
                                        <span class="heading">Month:</span>
                                        <span>From Date : {{this.fromDate}} To Date: {{this.toDate}} </span>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-title">Grocery</div>
                                    <table>
                                        <tr>
                                            <th>Opening Stock</th>
                                            <td>${{this.storedetail.openingStock}}</td>
                                            <th>Monthly Inside Sales</th>
                                            <td>${{this.storedetail.insideSale}}</td>
                                        </tr>
                                        <tr>
                                            <th>Cash Purchase</th>
                                            <td>${{this.storedetail.cashPurchase}}</td>
                                            <th></th>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th>Chq Purchase</th>
                                            <td>${{this.storedetail.checkPurchase}}</td>
                                            <th>Closing Stock</th>
                                            <td>${{this.storedetail.closingStock}}</td>
                                        </tr>
                                        <tr>
                                            <th>Credit Eby brown bank</th>
                                            <td>-</td>
                                            <th></th>
                                            <td></td>
                                        </tr>
                                        <tr class="highlight">
                                            <th>Total</th>
                                            <td>${{this.storedetail.totalBalance }}</td>
                                            <th>Total</th>
                                            <td>${{this.storedetail.totalSaleBalance}}</td>
                                        </tr>
                                        <tr>
                                            <th>Inside Gross Profit</th>
                                            <td>${{this.storedetail.insideGrossProfit }}</td>
                                            <th>% Margin</th>
                                            <td>${{this.storedetail.margin}}</td>
                                        </tr>
                                        <tr class="total">
                                            <th>Inside Total Gross</th>
                                            <td>${{this.storedetail.insideGrossProfit}}</td>
                                            <th></th>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="section">

                                    <div class="d-flex">

                                        <table>
                                            <tr>
                                                <th colspan="2"> Expenses </th>
                                            </tr>
                                            <tr>
                                                <td colspan="2">Fixed Expenses</td>
                                            </tr>
                                            <tr
                                                *ngIf="this.storedetail.payrolAmount!=null && this.storedetail.payrolAmount>0">
                                                <td>Payroll</td>
                                                <td>{{this.storedetail.payrolAmount}}</td>
                                            </tr>
                                            <tr *ngFor="let item of  this.storedetail.fixedExpenseDtos">
                                                <td>{{item.expenseName}}</td>
                                                <td>{{item.expenseAmount}}</td>
                                            </tr>
                                            <tr>
                                                <td>Total Fixed Expenses</td>
                                                <td>{{this.storedetail.fixedExpenceAmount}}</td>
                                            </tr>

                                            <tr>
                                                <td colspan="2">Other Expenses Variable</td>
                                            </tr>
                                            <tr *ngFor="let item of  this.storedetail.variableExpenseDtos">
                                                <td>{{item.expenseName}}</td>
                                                <td>{{item.expenseAmount}}</td>
                                            </tr>
                                            <tr>
                                                <td>Total Variable Expenses</td>
                                                <td>{{this.storedetail.variableExpenseAmount}}</td>
                                            </tr>

                                            <tr>
                                                <td>Total Expense</td>
                                                <td>{{this.storedetail.totalExpenseAmount}}</td>
                                            </tr>
                                            <tr>
                                                <td> Net Income</td>
                                                <td>{{this.storedetail.netIncomeAmount}}</td>
                                            </tr>
                                            <tr>
                                                <td>Total Store Sales (Inside+Gas ($) Sales)</td>
                                                <td>{{this.storedetail.totalStoreGesAmount}}</td>
                                            </tr>

                                            <tr><td>Gas Total Profit</td><td>{{this.storedetail.gesProfitAmount}}</td></tr>

                                            <tr><td>Total Gallon</td><td>{{this.storedetail.gesSaleQuantity }}</td></tr>
                                            <tr><td>Gas Margin for the Month</td><td>{{this.storedetail.gesMargin}}</td></tr>
                                        </table>

                                        <table>
                                            <tr>
                                                <th colspan="2"> Income </th>
                                            </tr>
                                            <tr>
                                                <td>Inside Gross</td>
                                                <td>{{this.storedetail.insideGrossProfit}}</td>
                                            </tr>
                                            <tr>
                                                <td>Gas Profit</td>
                                                <td>{{this.storedetail.gesProfitAmount}}</td>
                                            </tr>
                                            <tr>
                                                <td>Lotto Commission</td>
                                                <td>{{this.storedetail.lotteryProfit}}</td>
                                            </tr>
                                            <tr>
                                                <td>COAM Commission</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>ATM Commission</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Others</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Money Order Commission</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Payroll Taxes Withhold</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>HRA</td>
                                                <td></td>
                                            </tr>
                                            <tr *ngFor="let item of this.storedetail.otherIncomeDtos">
                                                <td>{{item.incomeTypeName}}</td>
                                                <td>{{item.amount}}</td>
                                            </tr>
                                            <tr>
                                                <td>Total</td>
                                                <td>{{this.storedetail.totalIncome}}</td>
                                            </tr>


                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pagedatatable d-flex" *ngIf="this.reporttype=='gesreport'">
                        <div class="datasheet">
                            <div class="tsheet w-100">
                                <div class="header">
                                    <img src="logo.png" alt="Welcome Foods Logo">
                                </div>
                                <div class="title">
                                    Gas Profit Calculation Sheet
                                </div>
                                <div class="section mt-1">
                                    <div class="storename">
                                        <span class="heading">Store Name:</span>
                                        <span>{{this.storename}}</span>
                                    </div>
                                    <div class="month">
                                        <span class="heading">Month:</span>
                                        <span>From Date : {{this.fromDate}} To Date: {{this.toDate}} </span>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-title">Closing Inventory Report</div>
                                    <table>
                                        <tr>	  	  	 
                                            <th>Fuel Type</th>
                                            <th>Gallons</th>
                                            <th>Cost (from last delivery invoice)</th>
                                            <th>Amount</th>
                                        </tr>
                                        <tr *ngFor="let item of storedetail.closingGesStock">
                                            <th>{{item.gesTypeName}}</th>
                                            <td>{{item.gesQuantity}}</td>
                                            <th>{{item.gesRate}}</th>
                                            <td>{{item.gesAmount}}</td>
                                        </tr>
                                      
                                        <tr class="highlight">
                                            <th>Total</th>
                                            <td>{{this.storedetail.currentStockGes }}</td>
                                            <th></th>
                                            <td>{{this.storedetail.currentStockAmount}}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="4">Purchase Invoices</th>
                                        </tr>
                                        <tr *ngFor="let item of storedetail.gesPurchaseInvoice">
                                            <th>{{item.invoiceNo}} {{item.invoiceDate}}</th>
                                            <td>{{item.totalGes}}</td>
                                            <th>{{item.avgAmount}}</th>
                                            <td>{{item.totalAmount}}</td>
                                        </tr>
                                        <tr class="highlight">
                                            <th>Total</th>
                                            <td>{{this.storedetail.purchaseInvoiceGesGallan }}</td>
                                            <th></th>
                                            <td>{{this.storedetail.purchaseInvoiceAmount}}</td>
                                        </tr>
                                        <tr class="highlight">
                                            <th> Beginning Inventory from Previous Month</th>
                                            <td>{{this.storedetail.previousStockGes }}</td>
                                            <th></th>
                                            <td>{{this.storedetail.previousStockAmount}}</td>
                                        </tr>
                                        <tr class="highlight">
                                            <th>Total Cost of Gas (Total Purchase+Beg Inventory)</th>
                                          
                                            <td>{{this.storedetail.totalStockGes }}</td>
                                            <th></th>
                                            <td>{{this.storedetail.totalStockAmount}}</td>

                                        </tr>
                                        <tr class="highlight">
                                            <th>Less : Closing Inventory</th>
                                            <td>{{this.storedetail.currentStockGes }}</td>
                                            <th></th>
                                            <td>{{this.storedetail.currentStockAmount}}</td>
                                        </tr>
                                        <tr class="highlight">
                                            <th>Net Sold Cost</th>
                                            <td>{{this.storedetail.netSoldGes }}</td>
                                            <th></th>
                                            <td>{{this.storedetail.netSoldAmount}}</td>
                                        </tr>
                                        <tr class="highlight">
                                            <th>Sales</th>
                                            <td>{{this.storedetail.gesSaleQuantity }}</td>
                                            <th></th>
                                            <td>{{this.storedetail.gesSaleAmount}}</td>
                                        </tr>
                                        <tr class="highlight">
                                            <th>Profit</th>
                                            <td>{{this.storedetail.gesProfitQuantity }}</td>
                                            <th></th>
                                            <td>{{this.storedetail.gesProfitAmount}}</td>
                                        </tr>
                                        <tr class="highlight">
                                            <th>Margin</th>
                                            <td></td>
                                            <th></th>
                                            <td>{{this.storedetail.gesMargin}}</td>
                                        </tr>

                                       
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                


                </div>
            </div>
        </div>
    </div>